/plan*.md
NOTES.md
bin/
certs/
misc/
node_modules/
obj/
package-lock.json
package.json
pkg/*/out/
pkg/*/build/
pkg/*/tmp/
prompt*.txt
tags
deps/
infra/.terraform/
.secrets
infra/terraform.tfstate
infra/terraform.tfstate.backup
